<div class="profile">

    <div class="profilenav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid navbar-background">

                <a href="#!/user"
                   role="button">
                    <span class="navbar-text pull-right glyphicon glyphicon-ok"></span>
                </a>

                <div class="navbar-header navbar-title">
                    <a class="navbar-brand active profilespacing">Admin</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid entry">

        <div ng-switch="model.view">
            <div ng-switch-when="userList">
                <div ng-include="'views/admin/editors/admin-search-edit.view.client.html'"></div>
            </div>

            <div ng-switch-when="userProfile">
                <div ng-include="'views/admin/editors/admin-user-edit.view.client.html'"></div>
            </div>

            <!--<div ng-switch-when="warning">-->
            <!--</div>-->

        </div>

    </div>

    <div class="profilenav">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid navbar-background">
                <a href="#!/user" class="userglyphicon">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a>
            </div>
        </nav>
    </div>
</div>