<nav class="navbar navbar-inverse navbar-fixed-top opacity">
    <div class="container">
        <a class="navbar-brand" href="#">NeuTube</a>
        <div class="navbar-header pull-right">
            <button type="button" class="nav-btn navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-left">
            <ul class="nav navbar-nav collapsed pull-left">
                <li class="active"><a href="#">Home</a></li>
                <li><a ng-show="!model.currentUser._id" href="#!/login">Login</a></li>
                <li><a ng-show="!model.currentUser._id" href="#!/register">Register</a></li>
                <li><a ng-show="model.currentUser._id" href="#!/user">Profile</a></li>
                <li><a ng-show="model.currentUser._id"
                       ng-click="model.logoutUser()"
                       href="#!">Logout</a></li>
                <!--<li><a ng-show="model.currentUser.isAdmin" href="#!/admin">Admin</a></li>-->
                <!--<li><a href="#!/about">About</a></li>-->
                <!--<li><a href="#!/contact">Contact</a></li>-->

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid top-padding bottom-padding">

    <ul class="list-group">
        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-4">Name</div>
                <div class="col-xs-6 col-sm-3 "></div>
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-xs-2">
                    <!--<a href="#!/channel/{{model.video}}/channelpage/new" class="plusglyphicon">-->
                        <!--<span class="pull-right glyphicon glyphicon-plus"></span>-->
                    <!--</a>-->
                </div>
            </div>
        </li>

        <li ng-repeat="video in model.videos" class="list-group-item">
            <div class="row">
                <div class="col-xs-4">
                    <a href="#!/video/view/{{video._id}}">{{video.name}}</a>
                </div>
                <div class="col-xs-6 col-sm-3"></div>
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-xs-2">
                    <!--<a href="#!/video/{{video._id}}">-->
                        <!--<span class="pull-right glyphicon glyphicon-cog"></span>-->
                    <!--</a>-->
                </div>
            </div>
        </li>
    </ul>

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom opacity">
    <div class="container-fluid ">
        <a href="#!/user" class="userglyphicon">
            <span ng-show="model.currentUser._id"
                  class="pull-right glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>