<div class="profile">

    <div class="profilenav">
        <nav class="navbar navbar-inverse opacity navbar-fixed-top">
            <div class="container-fluid">

                <a href="#!/user" class="userglyphicon">
                    <span class="pull-left glyphicon glyphicon-chevron-left"></span>
                </a>

                <a href="#!/video/{{model.videoId}}"
                   role="button">
                    <span class="navbar-text pull-right glyphicon glyphicon-cog"></span>
                </a>

                <div class="navbar-header navbar-title">
                    <a class="navbar-brand">Video</a>
                </div>

            </div>
        </nav>
    </div>

    <div class="container-fluid">
        <div class="embed-responsive embed-responsive-16by9">
            <video ng-src="{{model.video.url}}" width="100%" controls>
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="profilenav">
        <nav class="navbar navbar-inverse opacity navbar-fixed-bottom">
            <div class="container-fluid ">
                <a href="#!/user/{{model.currentUser._id}}" class="userglyphicon">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a>
            </div>
        </nav>
    </div>
</div>
