body{
     background-image: url(/pictures/ironman.gif);
     background-repeat: no-repeat;
     background-size: cover;
     margin: 10px;
     color: white;
 }

p{
    color: whitesmoke;
}

body>div>h1{
    color: white;
}

li>h2{
    color: white;
}

button {
    width: 300px;
 }


ul{
    padding-left: 0px;
}

li{
    list-style-type: none;
    padding-bottom: 5px;

}

