@font-face {
    font-family: 'Neon Lights';
    font-style: normal;
    font-weight: normal;
    src: local('Neon Lights'), url(../../vendor/css/bootstrap/fonts/neon2.woff) format('woff');
}

input.form-control, select.form-control, textarea {
    margin-bottom: 5px;
}

.jumbotron h1 {
    font-family: "Neon Lights", serif;
    font-style: normal;
    font-size: 10em;
    color: darkred;
    font-weight: normal;

}

body
{
    background: url("../../vendor/image/zwartevilt_@2X.jpg");
}

.addto{
    padding-bottom:5px;
}

.theme-showcase{
    margin-top:150px;

}
.details {
    top: 50px;
    right: 100px;
}

.centered-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: inherit;
}

.table>tbody>tr>td .table>thead>tr>th {
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px none;
}

div.profile {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-y: scroll;
}

.fileupload{
    padding-bottom:5px;
}

.profilenav .navbar-default .navbar-toggle {
    border-color: #fff;
}



.navbar-background {
    background-color: #36454f;
    border-color: #b2b1b5;
}

.profilenav .navbar-default .navbar-brand {
    color: #fff;
}

.profilenav .navbar-default .navbar-nav>li>a {
    color: #fff;
}

.commenttext{
    margin-top:2px;
    margin-bottom:2px;
    border-style: solid;
    border-color: #8c8c8c;
}

.glyphicon {
    color: white;
}

.glyphicon.glyphicon-search{
    color: #46b8da;
}

.glyphicon.comment-glyphicon{
    color: #2B81AF;
    padding-right:10px;
}

span.pull-right.glyphicon.glyphicon-ok {
    color: white;
}

span.pull-right.glyphicon.glyphicon-plus {
    color: white;
}

span.pull-right.glyphicon.glyphicon-cog {
    color: black;
}

span.pull-right.glyphicon.glyphicon-align-justify {
    color: black;
}

.widgetjustify{
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: rgba(255,255,255,0.5);
    border:5px solid rgba(255,255,255,0.05);
}

.widgetcog{
    position: absolute;
    top: 0px;
    right: 30px;
    background-color: rgba(255,255,255,0.5);
    border:5px solid rgba(255,255,255,0.05);
    border-bottom-left-radius: 0.2em;
}

span.pull-right.glyphicon.glyphicon-cog {
    margin-right: 8px;
}

span.pull-right.glyphicon.glyphicon-align-justify {
    margin-right: 4px
}

.split-view-left {
    position: absolute;
    top: 60px;
    bottom: 60px;
    z-index: 1;
    overflow-y: scroll;
}

.split-view-left-nav {
    position: absolute;
    top: 0px;
    left: 30px;
    bottom: 0px;
    z-index: 1;
}

@media (min-width: 768px) {
    .pull-right.glyphicon {
        margin-right: 0px;
    }
    .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }

    .navbar>.container-fluid .navbar-brand {
        margin-left: -15px;
    }

    .container-fluid>.navbar-header{

        margin-left: 0px;
    }
}

.navbar-brand.navsplit{
    padding-left:0px;
}

.navbar-title{
    padding-left: 15px;
}

.navbar-brand.active.profilespacing{
    padding-left: 0px;
}

@media (max-width: 768px){
    .navbar-header {
        float: left;
        !important;
    }
    .container-fluid>.navbar-header{

        margin-left: 0px;
    }
    .navbar-header.navbar-title{
        padding-left: 0px;
    }
    .navbar-brand.splitnav{
        padding-left: 0px;
    }

}


@media (min-width: 1200px){
    .col-lg-9.split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        top: 60px;
        bottom: 60px;
        overflow-y: scroll;
    }
}

@media (min-width: 1200px){
    .col-lg-9.split-view-right-nav {
        width: 75%;
        position: absolute;
        right: 30px;
        top: 0px;
        bottom: 0px;
    }
}


span.pull-right.glyphicon.glyphicon-user {
    padding-top: 15px;
    padding-right: 0px;
    padding-left: 15px;
    padding-bottom: 15px;
}

span.pull-left.glyphicon.glyphicon-chevron-left {
    padding-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
}

span.pull-left.glyphicon.glyphicon-chevron-left.nav-glyphicon-chevron-left {
    padding-top: 15px;
    padding-right: 0px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.nav-glyphicon-ok{
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 0px;
    padding-bottom: 15px;
}


.widget-list li {
    margin-bottom: 15px;
    list-style-type: none;
    margin-left: 5px;
    margin-top: 5px
}

a:hover {
    text-decoration: none;
}

.container-fluid.entry {
    margin: auto;
    max-width: 400px;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: darkred;
    border-color: darkred;
}

.jumbotron {
    background: black;
}

.jumbotron p {
    color: white;
}

#center {
    margin-left:auto;
    margin-right:auto;
}