.container-fluid.entry {
    margin: auto;
    max-width: 400px;
}

input.form-control, select.form-control, textarea {
    margin-bottom: 5px;
}

.addto {
    padding-bottom: 5px;
}

.theme-showcase {
    margin-top: 150px;

}

.details {
    top: 50px;
    right: 100px;
}

div.profile {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow-y: scroll;
}

.fileupload {
    padding-bottom: 5px;
}

.profilenav .navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-background {
    background-color: #36454f;
    border-color: #b2b1b5;

}

.profilenav .navbar-default .navbar-brand {
    color: #fff;
}

.profilenav .navbar-default .navbar-nav > li > a {
    color: #fff;
}

.commenttext {
    margin-top: 2px;
    margin-bottom: 2px;
    border-style: solid;
    border-color: #8c8c8c;
}

.glyphicon {
    color: white;
}

.glyphicon.glyphicon-search {
    color: #46b8da;
}

.glyphicon.glyphicon-remove.userremove {
    color: maroon;
}

.glyphicon.comment-glyphicon {
    color: #2B81AF;
    padding-right: 10px;
}

span.pull-right.glyphicon.glyphicon-ok {
    color: white;
}

span.pull-right.glyphicon.glyphicon-plus {
    color: white;
}

span.pull-right.glyphicon.glyphicon-cog {
    color: black;
}

span.pull-right.glyphicon.glyphicon-align-justify {
    color: black;
}

.widgetjustify {
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.05);
}

.widgetcog {
    position: absolute;
    top: 0px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid rgba(255, 255, 255, 0.05);
    border-bottom-left-radius: 0.2em;
}

span.pull-right.glyphicon.glyphicon-cog {
    margin-right: 8px;
}

span.pull-right.glyphicon.glyphicon-align-justify {
    margin-right: 4px
}

.split-view-left {
    position: absolute;
    top: 60px;
    bottom: 60px;
    z-index: 1;
    overflow-y: scroll;
}

.split-view-left-nav {
    position: absolute;
    top: 0px;
    left: 30px;
    bottom: 0px;
    z-index: 1;
}

@media (min-width: 768px) {
    .pull-right.glyphicon {
        margin-right: 0px;
    }

    .navbar > .container-fluid .navbar-brand {
        margin-left: 0px;
    }

    .navbar > .container-fluid .navbar-brand {
        margin-left: -15px;
    }

    .container-fluid > .navbar-header {

        margin-left: 0px;
    }
}

.navbar-brand.navsplit {
    padding-left: 0px;
}

.navbar-title {
    padding-left: 15px;
}

.navbar-brand.active.profilespacing {
    padding-left: 0px;
}

@media (max-width: 768px) {
    .navbar-header {
        float: left;
    !important;
    }

    .container-fluid > .navbar-header {

        margin-left: 0px;
    }

    .navbar-header.navbar-title {
        padding-left: 0px;
    }

    .navbar-brand.splitnav {
        padding-left: 0px;
    }

}

@media (min-width: 1200px) {
    .col-lg-9.split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        top: 60px;
        bottom: 60px;
        overflow-y: scroll;
    }
}

@media (min-width: 1200px) {
    .col-lg-9.split-view-right-nav {
        width: 75%;
        position: absolute;
        right: 30px;
        top: 0px;
        bottom: 0px;
    }
}

span.pull-right.glyphicon.glyphicon-user {
    padding-top: 15px;
    padding-right: 0px;
    padding-left: 15px;
    padding-bottom: 15px;
}

span.pull-left.glyphicon.glyphicon-chevron-left {
    padding-top: 15px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 15px;
}

span.pull-left.glyphicon.glyphicon-chevron-left.nav-glyphicon-chevron-left {
    padding-top: 15px;
    padding-right: 0px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.nav-glyphicon-ok {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 0px;
    padding-bottom: 15px;
}

.widget-list li {
    margin-bottom: 15px;
    list-style-type: none;
    margin-left: 5px;
    margin-top: 5px
}

a:hover {
    text-decoration: none;
}

@font-face {
    font-family: 'Neon Lights';
    font-style: normal;
    font-weight: normal;
}

.jumbotron h1 {
    font-style: normal;
    font-size: 10em;
    color: darkred;
    font-weight: normal;

}

body {
    background: url("../../vendor/image/nice_snow_@2X.png");
}

.centered-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: inherit;
}

.table > tbody > tr > td .table > thead > tr > th {
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 0px none;
}

.jumbotron {
    background: black;
}

.jumbotron p {
    color: #b2b1b5;
}

#center {
    margin-left: auto;
    margin-right: auto;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-color: darkred;
    border-color: darkred;
}


.table > tbody > tr > td {
    border-top: none;
}

.table > tbody > tr > td {
    left: 0px;
    margin: auto;
    max-width: 1100px;
    position: absolute;
    right: 0px;
    text-align: center;
}

.table > tbody > tr > td > img {
    position: relative;
    text-align: center;
}

.jumbotron {
    background: black;
    overflow: hidden;
}

/*Start of Responsive Design*/

/* ---- Start of max-width 992px CSS ---- */
@media (max-width: 992px) {
    .jumbotron > h1 {
        font-size: 80px;
    }

    .col-sm-12.col-md-8.details {
        padding-top: 0;
        max-width: 500px;
    }

}

/* ---- End of max-width 992px CSS ---- */

/* ---- Start of max-width 767px CSS ---- */
@media all and (max-width: 767px) {
    .jumbotron > h1 {
        font-size: 60px;
    }

}

.top-padding {
    padding-top: 50px;
}

.table-padding {
    padding-top: 30px;
}

body {
    -webkit-font-smoothing: antialiased;
}

.poster {
    display: inline-block;
    float: left;
}

.details {
    display: block;
    float: left;
    padding-top: 50px;
    position: static;
}


.title {
    top: 60px;
    display: inline-block;
    /*float: left;*/
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}


div.details {
    display: block;
}

.details-page {
    left: 0px;
    margin: auto;
    max-width: 1100px;
    position: absolute;
    right: 0px;
}

.details-buttons {
    padding-top: 10px;
    padding-bottom: 50px;
    position: absolute;
    left: 30px;
    right: 0px;
    margin: 0;
    width: 333px;
}

.detailsPageMessage{
    padding-top: 60px;
}

.contentCreatorMessage{
    color: #3c3c3c;
}