<ul class="list-group">
    <li class="list-group-item active">
        <div class="row">
            <div class="col-xs-10">Name</div>
            <div class="col-xs-2">
                <a href="#!/watchlist/new" class="plusglyphicon">
                    <span class="pull-right glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </li>

    <li ng-repeat="watchlist in model.watchlists" class="list-group-item">
        <div class="row">
            <div class="col-xs-10">
                <a href="#!/watchlist/{{watchlist._id}}/page">{{watchlist.name}}</a>
            </div>
            <div class="col-xs-2">
                <a href="#!/watchlist/{{watchlist._id}}">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </div>
    </li>
</ul>