
<div class="profile">

    <div class="profilenav">
        <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top">
                <a href="#!/watchlist" ><span class="pull-left glyphicon glyphicon-chevron-left nav-glyphicon-chevron-left"></span></a>

                <a ng-click="model.createwatchlist(watchlist)" role="button"><span class="pull-right glyphicon glyphicon-ok nav-glyphicon-ok"></span></a>

                <div class="container-fluid nav-header navbar-background">
                    <div class="navbar-header">
                            <div class="col-lg-3 visible-lg split-view-left-nav"><a class="navbar-brand navsplit" >watchlists</a></div>
                            <div class="col-lg-9 col-xs-12 split-view-right-nav newwatchlist"><a class="navbar-brand splitnav">New watchlist</a></div>
                    </div>
                </div>
            </nav>

        </div>
    </div>

    <div class="container-fluid watchlist">
        <div class="row">
            <div class="col-xs-3 visible-lg split-view-left">
                <div ng-include="'views/watchlist/templates/watchlist-list.component.client.html'"></div>
            </div>

            <div class="col-lg-9 col-xs-12 split-view-right">
                <label for="name">Name</label>
                <input name="name"
                       type="text"
                       ng-model="watchlist.name"
                       placeholder="Watchlist name"
                       class="form-control"
                       id="name"/>

                <label for="description">Description</label>
                <textarea name="description"
                          rows="5"
                          ng-model="watchlist.description"
                          placeholder="Describe your watchlist"
                          class="form-control"
                          id="description"/></textarea>

                <a class="btn btn-default btn-primary btn-block"
                   ng-click="model.createwatchlist(watchlist)"
                   role="button">Create</a>

                <a class="btn btn-default btn-danger btn-block"
                   href="#!/watchlist"
                   role="button">Cancel</a>
            </div>
        </div>

        <div class="profilenav">
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid navbar-background">
                    <a href="#!/user" class="userglyphicon">
                        <span class="pull-right glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>
