<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <title>Widget Youtube</title>
    <link href="../../../../vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../../css/style.css" rel="stylesheet"/>
</head>

<body class="profile">

    <div class="profilenav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">

                <a href="widget-list.view.client.html" class="userglyphicon">
                    <span class="pull-left glyphicon glyphicon-chevron-left"></span>
                </a>

                <a href="widget-list.view.client.html" >
                    <span class="navbar-text pull-right glyphicon glyphicon-ok"></span>
                </a>

                <div class="navbar-header navbar-title">
                    <a class="navbar-brand active">Widget Edit</a>
                </div>

            </div>
        </nav>
    </div>
    <div class="container-fluid">

        <label for="Name">Name</label>
        <input name="Name"
               type="text"
               placeholder="Name of Video"
               class="form-control"
               id="Name"/>

        <label for="text">Text</label>
        <input name="text"
               type="text"
               placeholder="Text of Video"
               class="form-control"
               id="text"/>

        <label for="URL">URL</label>
        <input name="URL"
               type="text"
               value="https://www.youtube.com/watch?v=h0w3-fT-MNA"
               class="form-control"
               id="URL"/>

        <label for="Width">Width</label>
        <input name="Width"
               type="text"
               placeholder="100%"
               class="form-control"
               id="Width"/>

        <a class="btn btn-default btn-primary btn-block"
           href="widget-list.view.client.html"
           role="button">Cancel</a>

        <a class="btn btn-default btn-danger btn-block"
           href="widget-list.view.client.html"
           role="button">Delete</a>
    </div>

    <div class="profilenav">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <a href="../../user/templates/profile.view.client.html" class="userglyphicon">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a>
            </div>
        </nav>
    </div>
</body>
</html>