
<div class="profile">

    <div class="profilenav">
        <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top">
                <a href="#!/user/{{model.userId}}/website" ><span class="pull-left glyphicon glyphicon-chevron-left nav-glyphicon-chevron-left"></span></a>

                <a href="#!/user/{{model.userId}}/website"><span class="pull-right glyphicon glyphicon-ok nav-glyphicon-ok"></span></a>

                <div class="container-fluid nav-header navbar-background">
                    <div class="navbar-header">
                            <div class="col-lg-3 visible-lg split-view-left-nav"><a class="navbar-brand navsplit" >Websites</a></div>
                            <div class="col-lg-9 col-xs-12 split-view-right-nav newwebsite"><a class="navbar-brand splitnav">New Website</a></div>
                    </div>
                </div>
            </nav>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 visible-lg split-view-left">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <div class="row">
                            <div class="col-xs-10">Name</div>
                            <div class="col-xs-2">
                                <a href="#!/user/{{model.userId}}/website/new" class="plusglyphicon">
                                    <span class="pull-right glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li ng-repeat="website in model.websites" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10">
                                <a href="../../page/templates/page-list.view.client.html">{{website.name}}</a>
                            </div>
                            <div class="col-xs-2">
                                <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                                    <span class="pull-right glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9 col-xs-12 split-view-right">
                <label for="name">Name</label>
                <input name="name"
                       type="text"
                       ng-model="website.name"
                       placeholder="Facebook"
                       class="form-control"
                       id="name"/>

                <label for="description">Description</label>
                <textarea name="description"
                          rows="5"
                          ng-model="website.description"
                          placeholder="Largest country in the world"
                          class="form-control"
                          id="description"/></textarea>

                <a class="btn btn-default btn-primary btn-block"
                   ng-click="model.createWebsite(website)"
                   role="button">Create</a>

                <a class="btn btn-default btn-danger btn-block"
                   href="#!/user/{{model.userId}}/website"
                   role="button">Cancel</a>
            </div>
        </div>

        <div class="profilenav">
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid navbar-background">
                    <a href="#!/user/{{model.userId}}" class="userglyphicon">
                        <span class="pull-right glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>
