<div class="container-fluid">

    <label for="Name">Name</label>
    <input name="Name"
           type="text"
           ng-model="model.widget.name"
           placeholder="Name of Header"
           class="form-control"
           id="Name"/>

    <div ng-model="model.widget.text"
         text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
    </div>

    <!--<label for="size">Size</label>-->
    <!--<input name="size"-->
           <!--type="number"-->
           <!--ng-model="model.widget.size"-->
           <!--placeholder="Enter font size here"-->
           <!--class="forms-control"-->
           <!--id="size"/>-->

    <a class="btn btn-default btn-primary btn-block"
       href="#!/user/{{model.userId}}/website/{{model.webId}}/page/{{model.pageId}}/widget"
       role="button">Cancel</a>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.deleteWidget(model.widget)"
       role="button">Delete</a>
</div>
