
<div class="container-fluid">

    <label for="Name">Name</label>
    <input name="Name"
           type="text"
           placeholder="Name of Header"
           class="form-control"
           id="Name"/>

    <label for="text">Text</label>
    <input name="text"
           type="text"
           value="Trump Lays Blame for Health Care Bill Failure"
           placeholder="Enter header title here"
           class="form-control"
           id="text"/>

    <label for="size">Size</label>
    <input name="size"
           type="number"
           value="3"
           placeholder="Enter font size here"
           class="form-control"
           id="size"/>

    <a class="btn btn-default btn-primary btn-block"
       href="../templates/widget-list.view.client.html"
       role="button">Cancel</a>

    <a class="btn btn-default btn-danger btn-block"
       href="../templates/widget-list.view.client.html"
       role="button">Delete</a>
</div>
