
<div class="profile">

    <div class="profilenav">
        <div class="row">
            <nav class="navbar navbar-default navbar-fixed-top">
                <a href="website-list.view.client.html"><span class="pull-left glyphicon glyphicon-chevron-left nav-glyphicon-chevron-left"></span></a>

                <a href="website-list.view.client.html"><span class="pull-right glyphicon glyphicon-ok nav-glyphicon-ok"></span></a>

                <div class="container-fluid nav-header navbar-background">
                    <div class="navbar-header">
                            <div class="col-lg-3 visible-lg split-view-left-nav"><a class="navbar-brand navsplit" >Websites</a></div>
                            <div class="col-lg-9 col-xs-12 split-view-right-nav newwebsite"><a class="navbar-brand splitnav">New Website</a></div>
                    </div>
                </div>
            </nav>

        </div>
    </div>
    <!--<div class="profilenav">-->
        <!--<nav class="navbar navbar-default navbar-fixed-top">-->
            <!--<div class="container-fluid">-->

                <!--<a hrwebsite-list.view.client.htmlhtml" class="userglyphicon">-->
                    <!--<span class="pull-left glyphicon glyphicon-chevron-left"></span>-->
                <!--</a>-->

                <!--<a hrwebsite-list.view.client.htmlhtml" >-->
                    <!--<span class="navbar-text pull-right glyphicon glyphicon-ok"></span>-->
                <!--</a>-->

                <!--<div class="navbar-header">-->
                    <!--<a class="navbar-brand active">New Website</a>-->
                <!--</div>-->

            <!--</div>-->
        <!--</nav>-->
    <!--</div>-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3 visible-lg split-view-left">
                <ul class="list-group">
                    <li class="list-group-item active">
                        <div class="row">
                            <div class="col-xs-10">Name</div>
                            <div class="col-xs-2">
                                <a href="website-new.view.client.html" class="plusglyphicon">
                                    <span class="pull-right glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10">
                                <a href="../../page/page-list.html">Wikipedia</a>
                            </div>
                            <div class="col-xs-2">
                                <a href="website-edit.view.client.html">
                                    <span class="pull-right glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10">
                                <a href="../../page/page-list.html">Facebook</a>
                            </div>
                            <div class="col-xs-2">
                                <a href="website-edit.view.client.html">
                                    <span class="pull-right glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                                <div class="col-xs-10">
                                    <a href="../../page/page-list.html">Twitter</a>
                                </div>
                            <div class="col-xs-2">
                                <a href="website-edit.view.client.html">
                                    <span class="pull-right glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                                <div class="col-xs-10">
                                    <a href="../../page/page-list.html">Amazon</a>
                                </div>
                            <div class="col-xs-2">
                                <a href="website-edit.view.client.html">
                                    <span class="pull-right glyphicon glyphicon-cog"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9 col-xs-12 split-view-right">
                <label for="name">Name</label>
                <input name="name"
                       type="text"
                       placeholder="Facebook"
                       class="form-control"
                       id="name"/>

                <label for="description">Description</label>
                <textarea name="description"
                          rows="5"
                          placeholder="Largest country in the world"
                          class="form-control"
                          id="description"/></textarea>

                <a class="btn btn-default btn-primary btn-block"
                   href="website-list.view.client.html"
                   role="button">Create</a>

                <a class="btn btn-default btn-danger btn-block"
                   href="website-list.view.client.html"
                   role="button">Cancel</a>
            </div>
        </div>

        <div class="profilenav">
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid navbar-background">
                    <a href="../../user/templates/profile.view.client.html" class="userglyphicon">
                        <span class="pull-right glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</div>
