<div class="profile">

    <div class="profilenav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid navbar-background">
                        <!--<a href="javascript:history.back()" class="userglyphicon">-->
                            <!--<span class="pull-left glyphicon glyphicon-chevron-left"></span>-->
                        <!--</a>-->

                        <a ng-click="model.updateUser(model.user)"
                           role="button">
                            <span class="navbar-text pull-right glyphicon glyphicon-ok"></span>
                        </a>

                        <div class="navbar-header navbar-title">
                            <a class="navbar-brand active profilespacing">Profile</a>
                        </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">

        <label for="firstname">Firstname</label>
        <input name="firstname"
               type="text"
               ng-model="model.user.firstName"
               placeholder="Alice"
               class="form-control"
               id="firstname"/>

        <label for="lastname">Lastname</label>
        <input name="lastname"
               type="text"
               ng-model="model.user.lastName"
               placeholder="Wonderland"
               class="form-control"
               id="lastname"/>

        <label for="username">Username</label>
        <input name="username"
               readonly
               type="text"
               ng-model="model.user.username"
               placeholder="alice"
               class="form-control"
               id="username"/>

        <label for="email">Email</label>
        <input name="email"
               type="email"
               ng-model="model.user.email"
               placeholder="alice@wonderland.com"
               class="form-control"
               id="email"/>

        <label for="dob">Date of Birth</label>
        <input name="dob"
               type="date"
               class="form-control"
               id="dob"/>

        <a class="btn btn-default btn-info btn-block"
           href="#!/"
           role="button">Home</a>

        <a class="btn btn-default btn-primary btn-block"
           href="#!/user/{{model.user._id}}/website"
           role="button">Watchlists</a>

        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.updateUser(model.user)"
           role="button">Update</a>

        <a class="btn btn-default btn-danger btn-block"
           href="#!/login"
           role="button">Logout</a>

        <a class="btn btn-default btn-danger btn-block"
           ng-click="model.unregister(model.user)"
           role="button">Unregister</a>
    </div>

    <div class="profilenav">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid navbar-background">
                <a href="#!/user/{{model.user._id}}" class="userglyphicon">
                    <span class="pull-right glyphicon glyphicon-user"></span>
                </a>
            </div>
        </nav>
    </div>
</div>