<div class="profile">

    <nav class="navbar navbar-inverse navbar-fixed-top opacity">
        <div class="container">
            <a class="navbar-brand" href="#">NeuTube</a>
            <div class="navbar-header pull-right">
                <button type="button" class="nav-btn navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div id="navbar" class="collapse navbar-collapse navbar-left">
                <ul class="nav navbar-nav collapsed pull-left">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a ng-show="!model.currentUser._id" href="#!/login">Login</a></li>
                    <li><a ng-show="!model.currentUser._id" href="#!/register">Register</a></li>
                    <li><a ng-show="model.currentUser._id" href="#!/user">Profile</a></li>
                    <li><a ng-show="model.currentUser._id"
                           ng-click="model.logoutUser()"
                           href="#!">Logout</a></li>
                    <li><a ng-show="model.currentUser.isAdmin" href="#!/admin">Admin</a></li>
                    <li><a href="#!/about">About</a></li>
                    <li><a href="#!/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid entry">

        <h2>Profile</h2>

        <label for="firstname">First Name</label>
        <input name="firstname"
               type="text"
               ng-model="model.user.firstName"
               placeholder="First Name"
               class="form-control"
               id="firstname"/>

        <label for="lastname">Last Name</label>
        <input name="lastname"
               type="text"
               ng-model="model.user.lastName"
               placeholder="Last Name"
               class="form-control"
               id="lastname"/>

        <label for="username">Username</label>
        <input name="username"
               readonly
               type="text"
               ng-model="model.user.username"
               placeholder="alice"
               class="form-control"
               id="username"/>

        <label for="email">Email</label>
        <input name="email"
               type="email"
               ng-model="model.user.email"
               placeholder="Email"
               class="form-control"
               id="email"/>

        <div ng-if="!(model.currentUser.role === 'ADMIN')">
            <label>Following:</label>
            <li ng-repeat="followinguser in model.currentUser.following" class="list-group-item">
                <a ng-if="model.currentUser._id===model.user._id">{{followinguser.username}}</a>
            </li>
            <br/>
        </div>
        <!--<label for="dob">Date of Birth</label>-->
        <!--<input name="dob"-->
        <!--type="date"-->
        <!--class="form-control"-->
        <!--id="dob"/>-->

        <!--<a class="btn btn-default btn-success btn-block"-->
        <!--ng-if="!(model.currentUser._id===model.user._id)"-->
        <!--ng-click="model.followUser(model.user._id, model.currentUser)"-->
        <!--role="button">Follow</a>-->


        <a class="btn btn-default btn-success btn-block"
           ng-if="model.currentUser.role === 'CREATOR' && model.currentUser._id===model.user._id"
           ng-click="model.createVideo()"
           role="button">Create Video</a>

        <a class="btn btn-default btn-primary btn-block"
           ng-if="model.currentUser.role === 'CREATOR' && model.currentUser._id===model.user._id"
           href="#!/channel"
           role="button">Channels</a>

        <a class="btn btn-default btn-primary btn-block"
           ng-if="model.currentUser.role === 'CREATOR' && model.currentUser._id===model.user._id"
           href="#!/videolist"
           role="button">All Videos</a>

        <a class="btn btn-default btn-primary btn-block"
           ng-if="model.currentUser._id===model.user._id && !(model.currentUser.role === 'ADMIN')"
           href="#!/watchlist"
           role="button">Watchlists</a>

        <a class="btn btn-default btn-primary btn-block"
           ng-if="model.currentUser._id===model.user._id && !(model.currentUser.role === 'ADMIN')"
           href="#!/user/{{model.user._id}}/watchlist"
           role="button">Movie Discussions</a>

        <a class="btn btn-default btn-primary btn-block"
           ng-if="model.currentUser._id===model.user._id"
           ng-click="model.updateUser(model.user)"
           role="button">Update</a>

        <a class="btn btn-default btn-warning btn-block"
           ng-if="model.currentUser.role === 'ADMIN'"
           href="#!/admin"
           role="button">Admin</a>

        <a class="btn btn-default btn-info btn-block"
           href="#!/"
           role="button">Home</a>

        <a class="btn btn-default btn-danger btn-block"
           ng-if="model.currentUser._id===model.user._id"
           ng-click="model.logoutUser()"
           href="#!/login"
           role="button">Logout</a>

        <a class="btn btn-default btn-danger btn-block"
           ng-if="model.currentUser._id===model.user._id && !(model.currentUser.role === 'ADMIN')"
           ng-click="model.unregister(model.user)"
           role="button">Unregister</a>
    </div>

    <div class="profilenav">
        <nav class="navbar navbar-inverse navbar-fixed-bottom opacity">
            <div class="container-fluid navbar-background">
            </div>
        </nav>
    </div>
</div>