<nav class="navbar navbar-inverse navbar-fixed-top opacity">
    <div class="container">
        <a class="navbar-brand" href="#">NeuTube</a>
        <div class="navbar-header pull-right">
            <button type="button" class="nav-btn navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-left">
            <ul class="nav navbar-nav collapsed pull-left">
                <li class="active"><a href="#">Home</a></li>
                <li><a ng-show="!model.currentUser._id" href="#!/login">Login</a></li>
                <li><a ng-show="!model.currentUser._id" href="#!/register">Register</a></li>
                <li><a ng-show="model.currentUser._id" href="#!/user">Profile</a></li>
                <li><a ng-show="model.currentUser._id"
                       ng-click="model.logoutUser()"
                       href="#!">Logout</a></li>
                <li><a ng-show="model.currentUser" href="#!/admin">Admin</a></li>
                <!--<li><a href="#!/about">About</a></li>-->
                <!--<li><a href="#!/contact">Contact</a></li>-->
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid entry top-padding bottom-padding"
     ng-if="!model.currentUser._id || model.currentUser.role === 'ADMIN'">

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <h2>Register</h2>

    <label for="firstname">First Name</label>
    <input name="firstname"
           type="text"
           ng-model="user.firstName"
           placeholder="First Name"
           class="form-control"
           id="firstname"/>

    <label for="lastname">Last Name</label>
    <input name="lastname"
           type="text"
           ng-model="user.lastName"
           placeholder="Last Name"
           class="form-control"
           id="lastname"/>

    <label for="email">Email</label>
    <input name="email"
           ng-model="user.email"
           type="text"
           placeholder="email"
           class="form-control"
           id="email"/>

    <label for="username">Username</label>
    <input name="username"
           ng-model="user.username"
           ng-required
           type="text"
           placeholder="username"
           class="form-control"
           id="username"/>

    <label for="password">Password</label>
    <input name="password"
           ng-model="user.password"
           ng-required
           type="password"
           placeholder="password"
           class="form-control"
           id="password"/>

    <label for="password2">Verify Password</label>
    <input name="password2"
           ng-model="user.password2"
           ng-required
           type="password"
           placeholder="verify password"
           class="form-control"
           id="password2"/>

    <h5 class="contentCreatorMessage"
        ng-if="!(model.currentUser.role === 'ADMIN')">Would you like to be a content creator? As a content creator, you can create your
        own channels and upload videos.</h5>
    <div class="form-check"
         ng-if="!(model.currentUser.role === 'ADMIN')">
        <label class="form-check-label">
            <!--<input type="checkbox" class="form-check-input" ng-model="user.role" ng-init="user.role='USER'">-->
            <input type="checkbox" ng-model="user.role" ng-true-value="'CREATOR'" ng-false-value="'USER'">
            Yes, make me a content creator.
        </label>
    </div>

    <label ng-if="model.currentUser.role === 'ADMIN'"
           for="role">User Role</label>

    <form id="role" name="myForm" ng-if="model.currentUser.role === 'ADMIN'">
        <label>
            <input type="radio" ng-model="user.role" value="CRITIC">
            Critic
        </label><br/>
        <label>
            <input type="radio" ng-model="user.role" value="CREATOR">
            Creator
        </label><br/>
        <label>
            <input type="radio" ng-model="user.role" value="USER">
            User
        </label><br/>
    </form>

    <a class="btn btn-default btn-primary btn-block"
       ng-if="model.currentUser.role === 'ADMIN'"
       ng-click="model.registerUserAdmin(user)"
       role="button">Register</a>

    <a class="btn btn-default btn-primary btn-block"
       ng-if="!(model.currentUser.role === 'ADMIN')"
       ng-click="model.registerUser(user)"
       type="submit"
       role="button">Register</a>

    <a class="btn btn-default btn-danger btn-block"
       ng-if="!(model.currentUser.role === 'ADMIN')"
       ng-click="model.backBtnClick()"
       role="button">Cancel</a>

    <a class="btn btn-default btn-info btn-block"
       href="#!/"
       role="button">Home</a>
</div>
<nav class="navbar navbar-inverse navbar-fixed-bottom opacity">
    <div class="container-fluid navbar-background">
    </div>
</nav>