
    <div class="container-fluid">

        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>

        <h2>Register</h2>

        <label for="firstname">Firstname</label>
        <input name="firstname"
               type="text"
               ng-model="user.firstName"
               placeholder="Alice"
               class="form-control"
               id="firstname"/>

        <label for="lastname">Lastname</label>
        <input name="lastname"
               type="text"
               ng-model="user.lastName"
               placeholder="Wonderland"
               class="form-control"
               id="lastname"/>

        <label for="username">Username</label>
        <input name="username"
               ng-model="user.username"
               type="text"
               placeholder="alice"
               class="form-control"
               id="username"/>

        <label for="email">Email</label>
        <input name="email"
               ng-model="user.email"
               type="text"
               placeholder="alice@wonderland.com"
               class="form-control"
               id="email"/>

        <label for="password">Password</label>
        <input name="password"
               ng-model="user.password"
               type="password"
               placeholder="12345678"
               class="form-control"
               id="password"/>

        <label for="password2">Verify Password</label>
        <input name="password2"
               ng-model="user.password2"
               type="password"
               placeholder="12345678"
               class="form-control"
               id="password2"/>

        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.registerUser(user)"
           role="button">Register</a>

        <a class="btn btn-default btn-danger btn-block"
           href="#!/login"
           role="button">Cancel</a>

        <a class="btn btn-default btn-info btn-block"
           href="#!/"
           role="button">Home</a>
    </div>
