<ul class="list-group">
    <li class="list-group-item active">
        <div class="row">
            <div class="col-xs-10">Name</div>
            <div class="col-xs-2">
                <a href="#!/user/{{model.userId}}/website/new" class="plusglyphicon">
                    <span class="pull-right glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
    </li>

    <li ng-repeat="website in model.websites" class="list-group-item">
        <div class="row">
            <div class="col-xs-10">
                <a href="#!/user/{{model.userId}}/website/{{website._id}}/page">{{website.name}}</a>
            </div>
            <div class="col-xs-2">
                <a href="#!/user/{{model.userId}}/website/{{website._id}}">
                    <span class="pull-right glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </div>
    </li>
</ul>