
<!--<nav class="navbar navbar-inverse navbar-fixed-top opacity">-->
    <!--<div class="container">-->
        <!--<a class="navbar-brand" href="#">NeuTube</a>-->
        <!--<div class="navbar-header pull-right">-->
            <!--<button type="button" class="nav-btn navbar-toggle collapsed" data-toggle="collapse"-->
                    <!--data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->

        <!--</div>-->
        <!--<div id="navbar" class="collapse navbar-collapse navbar-left">-->
            <!--<ul class="nav navbar-nav collapsed pull-left">-->
                <!--<li class="active"><a href="#">Home</a></li>-->
                <!--<li><a ng-show="!model.currentUser._id" href="#!/login">Login</a></li>-->
                <!--<li><a ng-show="!model.currentUser._id" href="#!/register">Register</a></li>-->
                <!--<li><a ng-show="model.currentUser._id" href="#!/user">Profile</a></li>-->
                <!--<li><a ng-show="model.currentUser._id"-->
                       <!--ng-click="model.logoutUser()"-->
                       <!--href="#!">Logout</a></li>-->
                <!--<li><a ng-show="model.currentUser.isAdmin" href="#!/admin">Admin</a></li>-->
                <!--<li><a href="#!/about">About</a></li>-->
                <!--<li><a href="#!/contact">Contact</a></li>-->

            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<!--<div class="container-fluid">-->
    <!--<div class="container theme-showcase" role="main">-->

        <!--<div class="jumbotron" id="jumbo">-->
            <!--<h1>NeuTube</h1>-->
            <!--<p>Build your watchlists.</p>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<input placeholder="Search"-->
                   <!--ng-model="model.movieTitle"-->
                   <!--class="form-control"/>-->

            <!--<button ng-click="model.searchMovieByTitle(model.movieTitle)" class="btn btn-primary btn-block">-->
                <!--Search-->
            <!--</button>-->
        <!--</div>-->

<div ng-include="'views/home/templates/home-movie-search.view.client.html'"></div>

    <!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;<nav class="navbar navbar-inverse navbar-fixed-bottom opacity">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="container-fluid navbar-background">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#!/user" class="userglyphicon">&ndash;&gt;-->
            <!--&lt;!&ndash;<span ng-show="model.currentUser._id"&ndash;&gt;-->
                  <!--&lt;!&ndash;class="pull-right glyphicon glyphicon-user"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->