<div>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">NeuTube</a>
      </div>
      <div id="navbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a ng-show="!model.currentUser._id" href="#!/login">Login</a></li>
          <li><a ng-show="!model.currentUser._id" href="#!/register">Register</a></li>
          <li><a ng-show="model.currentUser._id" href="#!/user">Profile</a></li>
          <li><a ng-show="model.currentUser._id"
                 ng-click="model.logoutUser()"
                 href="#!">Logout</a></li>
          <li><a ng-show="model.currentUser.isAdmin" href="#!/admin">Admin</a></li>
          <li><a href="#!/about">About</a></li>
          <li><a href="#!/contact">Contact</a></li>

          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <!--<nav class="navbar navbar-default">-->
    <!--<div class="container-fluid">-->
      <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
      <!--<div class="navbar-header">-->
        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
          <!--<span class="sr-only">Toggle navigation</span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
          <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <!--<a class="navbar-brand" href="#">Brand</a>-->
      <!--</div>-->

      <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
      <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
        <!--<ul class="nav navbar-nav">-->
          <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
          <!--<li><a href="#">Link</a></li>-->
          <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
              <!--<li><a href="#">Action</a></li>-->
              <!--<li><a href="#">Another action</a></li>-->
              <!--<li><a href="#">Something else here</a></li>-->
              <!--<li role="separator" class="divider"></li>-->
              <!--<li><a href="#">Separated link</a></li>-->
              <!--<li role="separator" class="divider"></li>-->
              <!--<li><a href="#">One more separated link</a></li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<form class="navbar-form navbar-left">-->
          <!--<div class="form-group">-->
            <!--<input type="text" class="form-control" placeholder="Search">-->
          <!--</div>-->
          <!--<button type="submit" class="btn btn-default">Submit</button>-->
        <!--</form>-->
        <!--<ul class="nav navbar-nav navbar-right">-->
          <!--<li><a href="#">Link</a></li>-->
          <!--<li class="dropdown">-->
            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
            <!--<ul class="dropdown-menu">-->
              <!--<li><a href="#">Action</a></li>-->
              <!--<li><a href="#">Another action</a></li>-->
              <!--<li><a href="#">Something else here</a></li>-->
              <!--<li role="separator" class="divider"></li>-->
              <!--<li><a href="#">Separated link</a></li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
  <!--</nav>-->

  <div class="container theme-showcase" role="main">

    <div class="jumbotron">
      <h1>NeuTube</h1>
      <p>Build your watchlists.</p>
    </div>


    <div class="form-group">
      <input placeholder="Search"
             ng-model="movieTitle"
             class="form-control"/>

      <button ng-click="model.searchMovieByTitle(movieTitle)" class="btn btn-primary btn-block">
        Search
      </button>
    </div>
    <div class="form-group">
      <table class="table">
        <tr>
          <td>
            <a >
              <img ng-repeat="movie in model.movies.Search"
                   ng-src="{{movie.Poster}}"
                   role="button"
                   ng-click="model.gotoDetailPage(movie.imdbID)"/>
            </a>
          </td>
        </tr>
      </table>
      <!--href="#!/details/{{movie.imdbID}}"-->
      <!--<table class="table">-->
        <!--<tr ng-repeat="movie in model.movies.Search">-->
          <!--<td>-->
            <!--<a href="#!/details/{{movie.imdbID}}">-->
              <!--{{movie.Title}}-->
            <!--</a>-->
          <!--</td>-->
          <!--<td>-->
            <!--<img ng-src="{{movie.Poster}}"/>-->
          <!--</td>-->
        <!--</tr>-->
      <!--</table>-->
    </div>

  </div>

</div>
